body{
    height: 100%;
    background: linear-gradient(to bottom, hsl(209, 40%, 39%), hsl(239, 100%, 17%), hsl(269, 100%, 7%)); 
    background-attachment: fixed;
  }
  
* {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

.intro-text{
    color:white;
    margin-top: 45%;
    letter-spacing: 2px;
    font-size: 1.5em;
    font-weight: 100;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#name{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-45%, -45%);
}

#large-logo{
    margin-top: 10%;
    width: 80%;
}

#logo-name{
    color: white;
    letter-spacing: 9px;
    font-size: xx-large;
    font-weight: 400;
    text-align: center;
}

.image-height{
    max-height: 300px;
    width:auto;
}

a, a:hover{
    text-decoration: none;
    color: inherit;
}

.card-style{
    background-color: #eef4ffc2;
}

.circle{
    height: 50px; 
    width: 50px;
    border-radius: 50%;
    background-color: rgba(255,255,255, 0.3);
    top: -70px;
    left: 100px;
    position: absolute;
    z-index: -1;
}

@media only screen and (max-width: 767px) {
    #large-logo{ 
        width: 90%;
    }
    
    .intro-text{
        margin-top:0;
    }
}